<header>
  <div class="container">
    <h1 class="display-6 text-uppercase text-center">{{ titulo }}</h1>
  </div>
</header>
<main class="container-fluid">
  <section class="container my-5">
    <form #form="ngForm" (ngSubmit)="goToProvinciaInfo(form)" class="row d-flex justify-content-between align-items-end">
      <div class="col-auto form-s">
        <label class="form-label text-uppercase" for="provincia">Selecciona una provincia</label>
        <select class="form-select" id="provincia" name="provincia" [ngModel]="defaultSelected">
          <option *ngFor="let prov of provincias" [value]="prov.CODPROV">
            {{ prov.NOMBRE_PROVINCIA }}
          </option>
        </select>
      </div>
      <div class="col-auto form-b">
        <button type="submit" class="btn btn-secondary">Seleccionar</button>
      </div>
    </form>
  </section>
  <section class="container my-5">
    <h2 class="text-uppercase">Municipios destacados</h2>
    <div class="ciudades mt-4">
      <div *ngFor="let ciudad of ciudades">
        <p>{{ ciudad.nameProvince }}</p>
        <p>{{ ciudad.stateSky.description }}</p>
        <p>{{ ciudad.temperatures.max }}°C</p>
        <p>{{ ciudad.temperatures.min }}°C</p>
      </div>
    </div>
  </section>
  <section class="container my-5">
    <h2 class="text-uppercase mb-3">Previsión España</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active text-uppercase" id="today-tab" data-bs-toggle="tab" data-bs-target="#today" type="button" role="tab" aria-controls="today" aria-selected="true">Hoy</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link text-uppercase" id="tomorrow-tab" data-bs-toggle="tab" data-bs-target="#tomorrow" type="button" role="tab" aria-controls="tomorrow" aria-selected="false">Mañana</button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active mt-3" id="today" role="tabpanel" aria-labelledby="today-tab">
        <p *ngFor="let p of today">{{ p }}</p>
      </div>
      <div class="tab-pane fade mt-3" id="tomorrow" role="tabpanel" aria-labelledby="tomorrow-tab">
        <p *ngFor="let p of tomorrow">{{ p }}</p>
      </div>
    </div>
  </section>
</main>
