<header>
  <div class="container">
    <h1 class="display-6 text-uppercase text-center">{{ nombreProvincia }}</h1>
  </div>
</header>
<main class="container-fluid">
  <section class="container my-5">
    <h2 class="text-uppercase">Municipios destacados</h2>
    <div class="ciudades mt-4">
      <div *ngFor="let municipio of municipiosDestacados">
        <p>{{ municipio.name }}</p>
        <p>{{ municipio.stateSky.description }}</p>
        <p>{{ municipio.temperatures.max }}°C</p>
        <p>{{ municipio.temperatures.min }}°C</p>
      </div>
    </div>
  </section>
  <section class="container my-5">
    <h2 class="text-uppercase mb-3">Previsión {{nombreProvincia | uppercase}}</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active text-uppercase" id="today-tab" data-bs-toggle="tab" data-bs-target="#today" type="button" role="tab" aria-controls="today" aria-selected="true">Hoy</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link text-uppercase" id="tomorrow-tab" data-bs-toggle="tab" data-bs-target="#tomorrow" type="button" role="tab" aria-controls="tomorrow" aria-selected="false">Mañana</button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active mt-3" id="today" role="tabpanel" aria-labelledby="today-tab">
        <p>{{ previsionHoy }}</p>
      </div>
      <div class="tab-pane fade mt-3" id="tomorrow" role="tabpanel" aria-labelledby="tomorrow-tab">
        <p>{{ previsionManana }}</p>
      </div>
    </div>
  </section>
</main>
