header {
  padding: 10px;
  background-color: #1b3959;
}

h1, h2, h3, label, p {
  color: white;
}

div.ciudades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

div.ciudades > div {
  margin: 1px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3d6289;
}

div.ciudades > div > p {
  margin: 0;
  font-size: large;
}

div.ciudades > div > p:nth-child(1) {
  flex-basis: 50%;
}

div.ciudades > div > p:nth-child(2) {
  flex-basis: 100%;
}

div.ciudades > div > p:nth-child(3),
div.ciudades > div > p:nth-child(4) {
  flex-basis: 25%;
  text-align: right;
}

div.ciudades > div > p:nth-child(3) {
  color: #ffd700;
}

div.ciudades > div > p:nth-child(4) {
  color: #00f8fb;
}

button.nav-link:hover {
  color: black;
}
